if userType === 'prof'
     
  div#creerRepertoireModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="creerRepertoireTitre", aria-hidden="true")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")×
      h3#creerRepertoireTitre Créer un nouveau répertoire
    div.modal-body
      p Nom du répertoire
      input#nomRepertoire(type='text', style='width: 98%;')
    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Fermer
      button.btn.btn-primary(data-dismiss="modal", onclick='creerRepertoire()') Créer
        
  div#creerFichierModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="creerFichierTitre", aria-hidden="true")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")×
      h3#creerFichierTitre Créer une nouvelle présentation
    div.modal-body
      p Nom de la présentation
      input#nomFichier(type='text', style='width: 98%;')
    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Fermer
      button.btn.btn-primary(data-dismiss="modal", onclick='creerFichier()') Créer
      
  div#supprimerRepertoireModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="supprimerRepertoireTitre", aria-hidden="true")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")×
      h3#supprimerRepertoireTitre Supprimer un répertoire
    div.modal-body
      p Voulez vous supprimer le répertoire&nbsp
        b
          span#nomRepSupprimer 
        span ?
    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Annuler
      button#btnSupprimerRepModal.btn.btn-primary(data-dismiss="modal", onclick="supprimerRepertoire('')") Supprimer
      
  div#supprimerFichierModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="supprimerFichierTitre", aria-hidden="true")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")×
      h3#supprimerFichierTitre Supprimer une présentation
    div.modal-body
      p Voulez-vous supprimer la présentation 
        b
          span#nomFichierModal
        span ?
    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Annuler
      button#btnSupprimerFichierModal.btn.btn-primary(data-dismiss="modal", onclick="supprimerFichier('')") Supprimer
       
  div#renommerModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="renommerTitre", aria-hidden="true")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")×
      h3#renommerTitre Renommer
    div.modal-body
      p Nouveau nom
      input#nouveauNom(type='text', style='width: 98%;')
    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Fermer
      button.btn.btn-primary(data-dismiss="modal", onclick='renommerFichier()') Renommer
   
   div#importerFichierModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="importerFichier", aria-hidden="true")
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")×
      h3#renommerTitre Importer une présentation
    div.modal-body
      p.lead Choisir le format d'importation
      form
        label.radio OpenDocument
          input#choisirFormat(type='radio', name='type', value='ODF')
        label.radio PPT
          input#choisirFormat(type='radio', name='type', value='PPT')
        label.radio PPTX
          input#choisirFormat(type='radio', name='type', value='PPTX')
        label.radio HTML
          input#choisirFormat(type='radio', name='type', value='HTML')
        input#nomFichier(type='file', placeholder='Nom du fichier')

    div.modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Fermer
      button.btn.btn-primary(data-dismiss="modal", onclick='return false;') Importer

       
  div.btn-toolbar
    div.btn-group
      a.btn(href='#', onclick='setRepertoireRacine()', title='Répertoire racine')
        i.icon-home
      a.btn(href='#', onclick='repertoirePrecedent()', title='Répertoire précédent')
        i.icon-step-backward
      a.btn(href='#creerRepertoireModal', role='button', data-toggle='modal', title='Créer un nouveau répertoire')
        i.icon-folder-close
      a.btn(href='#creerFichierModal', role='button', data-toggle='modal', title='Créer un nouveau fichier')
        i.icon-file
      a.btn(href='#importerFichierModal', role='button', data-toggle='modal', title='Importer une présentation')
        i.icon-upload
        
  ul#repBreadcrumb.breadcrumb(style='padding:0px 3px 0px 3px; margin:0px 0px 10px 0px;')
    li#dernierRepBread.active jberger

  ul#fichiers.nav-list(style='list-style-type: none; padding:0; margin:0;')
  
    if fichiers
      each fichier in fichiers
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            i.icon-chevron-down
        
          ul.dropdown-menu
            li.disabled
              a(href='#') #{fichier.nom}
            li.divider"
            li
              a(href='#') Déplacer
            li
              a(href='#renommerModal', role='button', data-toggle='modal', onclick="updateRenommerModal('#{fichier.nom}')") Renommer

            if fichier.type === 1
              li
                a(href='#supprimerRepertoireModal', role='button', data-toggle='modal', onclick="updateSupprimerRepModal('#{fichier.nom}')") Supprimer
            else
              li
                a(href='#supprimerFichierModal', role='button', data-toggle='modal', onclick="updateSupprimerFichierModal('#{fichier.nom}')") Supprimer
          
          if fichier.type === 1
            i.icon-folder-close    
            a(href='#', onclick='changerRepertoire("#{fichier.nom}")') #{fichier.nom}
          else
            i.icon-file    
            a(href='/presentation?fichier=#{fichier.nom}', onclick='') #{fichier.nom}
            
  div#erreurArborescence
  
else if userType === 'etudiant'

  div.btn-toolbar
    div.btn-group
      a.btn(href='#', onclick='setRepertoireRacine()')
        i.icon-home
      a.btn(href='#', onclick='repertoirePrecedent()')
        i.icon-step-backward
        
  ul#repBreadcrumb.breadcrumb(style='padding:0px 3px 0px 3px; margin:0px 0px 10px 0px;')
    li#dernierRepBread.active eric

  ul#fichiers.nav-list(style='list-style-type: none; padding:0; margin:0;')
  
    if fichiers
      each fichier in fichiers
        li
          
          if fichier.type === 1
            i.icon-folder-close    
            a(href='#', onclick='changerRepertoire("#{fichier.nom}")') #{fichier.nom}
          else
            i.icon-file    
            a(href='/presentation?fichier=#{fichier.nom}', onclick='') #{fichier.nom}
