
!!!
html
  head
    meta(name='viewport', content='width=370')
    meta(http-equiv='Content-Type', content='text/html ', charset='UTF-8')
    title Présentation Impress
    link(href='/static/stylesheets/styles.css', rel='stylesheet', media='screen')
    //style	p {font-size:70px;}
  //body.impress-not-supported
  body
    //.fallback-message
    //  p Your browser 
    //    b doesn't support the features required
    //    | by impress.js, so you are presented with a simplified version of this presentation.
    div#jmpress
      div#impress !{ presHtml }
    script(type='text/javascript', src='/static/javascripts/impress.js')
    script impress().init();
