head
    

.span3
    include authentification
    include arborescence

.span8
    .alert.alert-info
        span
            h4 Résultat de la recherche de "#{nomRech}"



    table(class="table")
        thead
            tr
                th Titre
                th Auteur
        tbody
            tr
                td 
                    a(href="#") Présentation 2.1
                td
            tr.info
                td 
                    a(href="#") Présentation 2.2
                td
            tr
                td 
                    a(href="#") XML: Quossé ça?
                td Jacques Berger
               


