.imgErreurCentrer {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -358px;
    margin-left: -400px;
}

#saveEditor
{
    width: 412px;
    min-width: 350px;
    height: 240px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    border: 10px solid #fff;
    border: 10px solid rgba(255, 255, 255, 0.9);
    background: white;
    z-index:20;
}

#thumbnails-pages a.thumbnail {
    position: relative;
    z-index: 10;
}

#thumbnails-pages a.thumbnail .numero-page {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    font-size: 3em;
}

/* gabarit de la presentation (TODO: À completer avant la presentation!) */

#impress .step {
    font-size: 3em;
}

